/****Bon Appetitte***/
.bon-app{
	margin: 40px 7px 24px 30px;
	position: relative;
	z-index: 99;
}
.bon-app_head{
	margin: 0 0 17px;
	position: relative;
	font-family: SerifBlack;
	font-size: 26px;
	font-style: italic;
	text-transform: lowercase;
	letter-spacing: 1px;
}
	.bon-app_head a{
		color: #fff;
	}
	.bon-app_head img{
		float:right;
		margin: -65px -75px 0 0;
	}
.bon-app_text{
	max-height: 120px;
	overflow: hidden;
	font-family: Vernada;
	font-size: 10px;
	color:#fff;
	letter-spacing: 2px;
	word-spacing: 6px;
}	
.bon-app_text span{
	font-weight: bold;
	color: #fbf6c1;
	letter-spacing: 1px;
	word-spacing: 4px;
}
.bon-app_arrow{
	display: block;
	margin: 4px 0 0 -1px;
	background: url('../img/arrow-yellow.png') center center no-repeat;
}
