
*{
	box-sizing: border-box;
}
html{
	height:100%;
}
body{
	min-width: 370px;
	min-height: 100%;
	position: relative;
	background: #8a2010;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
main{
	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	flex-grow:1;
}
a{
	text-decoration: none;
}
.main-header{
	display: none;
}

.center-wrapper{
	max-width: 775px;
	position: relative;
	display:flex;
	flex-flow: column nowrap;
	flex-grow:1;
}
.arrow{
	width: 22px;
	height: 30px;
}

.draw-footer{
	width:calc(92.1% - 340px);
	max-width: 100%;
	height: auto;
	position: absolute;
	left: calc(3.87% + 370px);
	bottom:0;
	z-index: 1;
}	