.main-footer{
	width:100%;
	min-height: 60px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 99;
}

.footer-menu{
	margin: 0 10px 0 27px;
	display: flex;
	flex-flow: row wrap;
}

	.footer-menu_item{
		padding: 3px 6px 2px;
		border-right: 1px #fff solid;
	}
		.footer-menu_item:last-child{
			border: none;
		}
		.footer-menu_item a{
			display: block;
			font-family: Vernada;
			font-weight: bold;
			font-size: 10px;
			color:#fff;
		}
		.footer-menu_item a:hover{
			color: #f5da8d;
		}

.cpwr{
	margin: 0 35px 0 0;
	font-family: Vernada;
	font-size: 10px;
	color:#fff;
}		