

/***MAIN BLOCK***/
.main-block{
	width: 370px;
	flex:0 0 1;
}

.welcom{
	margin: 8px 0 6px 22px;
	font-family: SerifBlack;
	font-size: 26px;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

