/*==========  Desktop First Method  ==========*/

/* Small Devices, Tablets */
@media only screen and (max-width : 740px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	main{
		width: 100%;
	}
	.center-wrapper{
		width: 100%;
	}
	.bon-app{
		margin: 40px 7px 24px 10px;
	}
		.bon-app_head{
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		}
			.bon-app_head a{
				flex-grow: 0;
				flex-shrink: 0;
			}	
			.bon-app_head img{
				float:none;
				margin: 0;
			}	
	.spec-events{
		margin: 0 7px 7px 10px;
	}
	
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 680px) {
	main{
		display: flex;
		flex-flow: column nowrap;
		flex-grow:1;
		width: 400px;
		margin: 0 auto;
	}

	.new-recipe{}
		.new-recipe_text{
			font-size: 12px;
		}	
		.new-recipe_text img{
			margin: 2px -59px 7px 0;
		}
		.draw_recipe{
			display: none;
		}
	.testimonials{
		margin: 5px 0 5px 26px;
	}
		.testimonials_text{
			font-size: 12px;
		}	
		.testimonials_photo{
			margin: 0 6px 0 0;
		}	
	.search-form{}
		.search-form input{
			width: 80%;
			height: 30px;
		}	
		.search-form button{
			width: 32px;
			height: 30px;
			background: url('../img/search-arrow.png') center center no-repeat;
			background-size:cover ;
		}
	.aside-block_main{
		padding: 0 10px 24px 0;
	}
	.nav-menu{
		display: none;
	}
	.bon-app{}
		.bon-app_head img{
				float:none;
				margin: 0 0 0 10px;
		}
		.bon-app_text{
			font-size: 12px;
		}	
		.bon-app_arrow{
			margin: 8px 0 0 -1px;
		}
	.spec-events{}
		.spec-events_text{
			font-size: 12px;
		}
				
	.aside-block_footer{
		display: flex;
		flex-flow: row wrap;
	}
		.aside-block_footer p:nth-child(2){
			margin: 24px 0 0 -36px;
		}	
	.draw-footer{
		width: 80%;
		height: auto;
		left:20%;
		bottom:0;
	}
	.main-footer{
		display: block;
	}
	.footer-menu{
		margin: 10px 5px;
	}
		.footer-menu_item a{
			font-size: 18px;
		}	
	.cpwr{
		margin: 5px 5px 0 0;
		text-align: right;
		font-size: 14px;
	}
}
	


@media only screen and (max-width : 580px) {
	.arrow{
		background-size: cover;
	}
	.logo{
		background: none;
	}
	.new-recipe{}
		.new-recipe_arrow{
			margin: 50px auto 0;
		}
		.new-recipe_text{
			max-height: 180px;
			font-size: 18px;
			overflow-y: hidden;
		}	
		.new-recipe_text img{
			display: none;
		}
	.testimonials{}
		.testimonials_photo{
			display: none;
		}	
		.testimonials_header{
			margin: 15px 0 10px 5px;
		}
		.testimonials_text{
			max-height: 75px;
			font-size: 18px;
		}
	.bon-app{}
		.bon-app_head img{
			display: none;
		}	
		.bon-app_text{
			max-height: 110px;
			font-size: 18px;
		}	
	.spec-events{}
		.spec-events_text{
			max-height: 110px;
			font-size: 18px;
		}	
	.draw-footer{
		display: none;
	}		
}