/**Nav Menu**/
.nav-menu{
	margin: 19px 10px 8px;
	display: flex;
	flex-flow: row wrap;
}

	.nav-menu_item{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		
	}
		.nav-menu_item:after{
			content:'';
			display: block;
			width: 7px;
			height: 7px;
			margin: 5px 6px 1px;
			background: url('../img/bullet.png') center center no-repeat;
		}		
		.nav-menu_item:last-child:after{
			display: none;
		}
		.nav-menu_item a{
			display: block;
			font-family: SerifBold;
			font-size: 20px;
			color:#fff;
			text-transform: lowercase;
		}
		.nav-menu_item a:hover{
			color: #f5da8d;
		}