/***Testimonials***/
.testimonials{
	margin: 0 0 5px 26px;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
}
.testimonials_photo{
	display: block;
	margin: -28px 6px 0 0;
	position: relative;
	z-index: 99;
}
.testimonials_info{
	
}
.testimonials_header{
	margin: 0 0 10px 5px;
	font-family: SerifBlack;
	font-size: 23px;
	text-transform: lowcase;
	letter-spacing: 1px;
}
.testimonials_header a{
	color:#fbf6c1;
}
.testimonials_text{
	max-height: 50px;
	overflow: hidden;
	margin: 3px 0 8px 3px;
	font-family: Vernada;
	font-size: 10px;
	font-weight: bold;
	color:#fff;
	letter-spacing: 1px;
	word-spacing: 3px;
}
.testimonials_arrow{
	display: block;
	margin: 7px 0 0 -1px;
	background: url('../img/arrow-yellow.png') center center no-repeat;
}