html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  font-size: 13px;
  font-family: Arial, Serif;
}
header,
footer,
main {
  display: block;
  width: 100%;
  min-width: 970px;
}
input,
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}
.center_wrapper {
  width: 960px;
  margin: 0 calc(50% -  480px);
  position: relative;
}
@media (min-width: 1600px) {
  .center_wrapper {
    width: 1020px;
    margin-left: 320px;
  }
}
.column {
  float: left;
}
.social_media {
  width: 145px;
  height: 27px;
}
.social_media > div {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  background-color: #3d5778;
  background-image: url(../img/sprite.png);
  box-shadow: 0 1px 1px #90abcd;
}
.social_media > div:last-child {
  margin-right: 0;
}
.social_media > div:hover {
  cursor: pointer;
}
.social_media .twitter {
  background-position: 0 -69px;
}
.social_media .facebook {
  background-position: 0 3px;
}
.social_media .mail {
  background-position: 0 -21px;
}
.social_media .rss {
  background-position: 0 -46px;
}
.box_large {
  background-color: white;
  box-shadow: inset 0 0 0 1px #d2cf99;
  border: 5px solid #ebe8b0;
  border-radius: 8px;
}
.box_small {
  background-color: white;
  box-shadow: inset 0 0 0 1px #d2cf99;
  border: 5px solid #ebe8b0;
  border-radius: 4px;
}
.product_card {
  font-family: Arial;
}
.product_card_img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.product_card_text {
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 18px;
}
.product_card_price {
  font-size: 15px;
  margin-bottom: 14px;
}
.product_card_price span {
  font-weight: bold;
  color: #228281;
}
.product_card_buy a {
  text-decoration: none;
  color: #fe6847;
  font-size: 13px;
}
.product_card_buy a:hover {
  color: #ab2001;
}
/*****************Header***************************************/
.header_big {
  background-color: #4bbfbf;
  background-image: -webkit-linear-gradient(0deg, transparent 2px, #6fcccc 0, #6fcccc 3px), -webkit-linear-gradient(270deg, transparent 2px, #6fcccc 0, #6fcccc 3px);
  background-image: linear-gradient(90deg, transparent 2px, #6fcccc 0, #6fcccc 3px), linear-gradient(180deg, transparent 2px, #6fcccc 0, #6fcccc 3px);
  background-color: #42b1af;
  background-size: 3px 3px;
  box-shadow: inset 0 -20px 20px -20px #439087;
  color: #cfcfcf;
}
.header_big .top_header {
  width: 100%;
  overflow: hidden;
  background-color: #6882a3;
  background: url(../img/header_bg_top.png) 0 100% repeat-x;
}
.header_big .top_header a {
  text-decoration: none;
  color: #cfcfcf;
}
.header_big .top_header a:hover {
  color: #ab2001;
}
.header_big .top_header .top_header_background {
  width: 100%;
  background: url(../img/footer_bg.png);
  margin-bottom: 12px;
  height: 45px;
}
.header_big .top_header .top_header_background .center_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_big .top_header .top_header_phone {
  height: 20px;
  background: url(../img/phone.png) 0 0 no-repeat;
  font-size: 20px;
  font-family: Rockwell, Arial, Serif;
  padding-left: 30px;
  color: white;
}
.header_big .top_header .social_media {
  width: 150px;
}
.header_big .top_header .shopping_cart {
  width: 139px;
  height: 26px;
  position: relative;
}
.header_big .top_header .shopping_cart > div,
.header_big .top_header .shopping_cart button {
  position: absolute;
  top: 0;
  height: 100%;
  border: 1px solid #881c04;
  color: white;
}
.header_big .top_header .shopping_cart button {
  width: 72px;
  left: 0;
  border-radius: 10px 0 0 10px;
  background: url(../img/sprite.png) -22px -46px no-repeat, -webkit-linear-gradient(90deg, #d74525, #f17b61);
  background: url(../img/sprite.png) -22px -46px no-repeat, linear-gradient(0deg, #d74525, #f17b61);
  box-shadow: inset 0 2px 2px -2px #ffffff, 0 1px 3px #607a9b;
  padding-left: 23px;
  font-size: 12px;
}
.header_big .top_header .shopping_cart button:hover {
  font-size: 15px;
  font-weight: bold;
}
.header_big .top_header .shopping_cart > div {
  width: 67px;
  right: 0;
  border-radius: 0 10px 10px 0;
  background: -webkit-linear-gradient(90deg, #fe6847, #ffc6b9);
  background: linear-gradient(0deg, #fe6847, #ffc6b9);
  box-shadow: inset 0 2px 2px -2px #ffffff, 0 1px 3px #607a9b;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  border-left: none;
}
.header_big .center_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
}
.header_big .header_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 115px;
  padding-left: 15px;
  background: url(../img/logo.png) center center no-repeat;
}
.header_big .header_logo p {
  font-family: Rockwell, Arial, Serif;
  font-style: italic;
}
.header_big .header_logo p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  color: #d9492a;
}
.header_big .header_logo p:nth-child(2) {
  font-size: 28px;
  color: #228281;
  margin-top: -6px;
}
.header_big .header_nav_search {
  width: 635px;
  margin-bottom: -1px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.header_big .header_nav_search nav {
  width: 100%;
  margin-bottom: 25px;
}
.header_big .header_nav_search nav ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_big .header_nav_search nav ul li {
  display: inline-block;
  height: 29px;
  line-height: 29px;
  padding: 0 10px;
  border-radius: 6px;
  font-family: Arial, Serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.header_big .header_nav_search nav ul li a {
  text-decoration: none;
  color: #f1f1f1;
}
.header_big .header_nav_search nav ul li a:hover {
  color: #ab2001;
}
.header_big .header_nav_search nav ul li:nth-child(3) a {
  text-decoration: none;
  color: #f8f5c6;
}
.header_big .header_nav_search nav ul li:nth-child(3) a:hover {
  color: #ab2001;
}
.header_big .header_nav_search nav ul li.active {
  background-image: -webkit-linear-gradient(0deg, transparent 2px, #009b9a 0, #009b9a 3px), -webkit-linear-gradient(270deg, transparent 2px, #009b9a 0, #009b9a 3px);
  background-image: linear-gradient(90deg, transparent 2px, #009b9a 0, #009b9a 3px), linear-gradient(180deg, transparent 2px, #009b9a 0, #009b9a 3px);
  background-color: #008180;
  background-size: 3px 3px;
  box-shadow: inset 0 2px 2px -2px #137b7a, 0 1px 0 #6ce6e6;
}
.header_big .header_nav_search .header_search {
  height: 34px;
  width: 418px;
  background-image: -webkit-linear-gradient(45deg, transparent 49.5%, #ebe9bc 0, #ebe9bc 50.5%, transparent 0), -webkit-linear-gradient(135deg, transparent 49.5%, #ebe9bc 0, #ebe9bc 50.5%, transparent 0);
  background-image: linear-gradient(45deg, transparent 49.5%, #ebe9bc 0, #ebe9bc 50.5%, transparent 0), linear-gradient(-45deg, transparent 49.5%, #ebe9bc 0, #ebe9bc 50.5%, transparent 0);
  background-color: #f8f5c6;
  background-size: 10px 10px;
  border-radius: 4px 4px 0 0;
  border-top: 1px #1a876d solid;
}
.header_big .header_nav_search .header_search #header_form_search {
  width: 402px;
  height: 24px;
  margin: 8px 8px 1px 8px;
}
.header_big .header_nav_search .header_search #header_form_search input,
.header_big .header_nav_search .header_search #header_form_search button {
  height: 100%;
  float: left;
}
.header_big .header_nav_search .header_search #header_form_search input {
  width: 321px;
  border: 1px #aca856 solid;
  border-right: none;
  background: white;
  box-shadow: inset 0 0 6px #eaeaea;
  color: #979797;
}
.header_big .header_nav_search .header_search #header_form_search input:focus {
  color: #ab2001;
}
.header_big .header_nav_search .header_search #header_form_search button {
  background: url(../img/loupe.png) 58px center no-repeat, -webkit-linear-gradient(90deg, #fe6847, #ffc6b9);
  background: url(../img/loupe.png) 58px center no-repeat, linear-gradient(0deg, #fe6847, #ffc6b9);
  box-shadow: inset 0 2px 2px -2px #ffffff;
  width: 81px;
  padding-right: 20px;
  border: 1px #e8360f solid;
  color: #ab2001;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.header_big .header_nav_search .header_search #header_form_search button:hover {
  color: #5a1c03;
  font-size: 13px;
}
.header_big .header_sign {
  width: 92px;
  height: 53px;
}
.header_big .header_sign #sign_in_button,
.header_big .header_sign #register_button {
  width: 92px;
  padding-left: 23px;
  text-align: left;
  border: 1px #007f7e solid;
  font-family: Arial, Serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px white;
}
.header_big .header_sign #sign_in_button:hover,
.header_big .header_sign #register_button:hover {
  font-size: 12px;
}
.header_big .header_sign #sign_in_button {
  height: 26px;
  border-bottom: none;
  background: url(../img/sprite.png) -26px -69px no-repeat, -webkit-linear-gradient(bottom, #add6d6, #e6f3f3);
  background: url(../img/sprite.png) -26px -69px no-repeat, linear-gradient(to top, #add6d6, #e6f3f3);
  color: #fe6847;
}
.header_big .header_sign #register_button {
  height: 27px;
  background: url(../img/sprite.png) -26px -20px no-repeat, -webkit-linear-gradient(bottom, #39aeae, #92dbdb);
  background: url(../img/sprite.png) -26px -20px no-repeat, linear-gradient(to top, #39aeae, #92dbdb);
  box-shadow: 0 2px 3px #5ba8a8;
  color: #008281;
}
/*********************Main**************************************/
main {
  background-image: -webkit-linear-gradient(45deg, transparent 49.5%, #ebe9bc 0, #ebe9bc 50.5%, transparent 0), -webkit-linear-gradient(135deg, transparent 49.5%, #ebe9bc 0, #ebe9bc 50.5%, transparent 0);
  background-image: linear-gradient(45deg, transparent 49.5%, #ebe9bc 0, #ebe9bc 50.5%, transparent 0), linear-gradient(-45deg, transparent 49.5%, #ebe9bc 0, #ebe9bc 50.5%, transparent 0);
  background-color: #f8f5c6;
  background-size: 10px 10px;
  border-top: 1px white solid;
  color: #707070;
  padding-bottom: 12px;
}
main .main_header {
  position: relative;
  height: 360px;
  width: 970px;
  min-width: 970px;
  box-shadow: none;
  background: url(../img/main_header_bg.png) 50% 50% no-repeat #ffffff;
  margin: 24px 0 0 -5px;
}
@media (min-width: 1600px) {
  main .main_header {
    margin: 24px 0 0 calc(50% -  485px);
  }
}
main .main_header .main_header_img {
  width: 170px;
  height: 316px;
  float: right;
  margin: 18px 19px 0 0;
}
main .main_header .main_header_img > div {
  width: 100%;
  height: 100px;
  margin-bottom: 8px;
  position: relative;
  background-color: white;
}
main .main_header .main_header_img > div:nth-child(2) {
  border: 3px #f8f5c6 solid;
}
main .main_header .main_header_img > div:nth-child(2):before {
  content: '';
  border-top: transparent 7px solid;
  border-bottom: transparent 7px solid;
  border-right: #ffffff 8px solid;
  position: absolute;
  left: -8px;
  top: 43%;
  z-index: 2;
}
main .main_header .main_header_img > div:nth-child(2):after {
  content: '';
  border-top: transparent 9px solid;
  border-bottom: transparent 9px solid;
  border-right: #f8f5c6 12px solid;
  position: absolute;
  left: -14px;
  top: 41%;
  z-index: 1;
}
main .main_header .main_header_img > div:nth-child(3) {
  margin-bottom: 0;
  border: 1px #c3c0be solid;
}
main .main_header .main_header_img > div img {
  width: 100%;
  height: 100%;
}
main .main_header .main_header_text {
  float: right;
  margin: 70px 50px 0 0;
  width: 190px;
  font-family: Rockwell, Arial, Serif;
}
main .main_header .main_header_text h1 {
  font-size: 25px;
  color: #ea5000;
  margin: 0 0 35px 0;
}
main .main_header .main_header_text h1 span:nth-child(2) {
  font-size: 60px;
}
main .main_header .main_header_text h1 span:last-child {
  color: #588313;
  font-size: 60px;
}
main .main_header .main_header_text button {
  background: -webkit-linear-gradient(90deg, #fe6847, #ffc6b9);
  background: linear-gradient(0deg, #fe6847, #ffc6b9);
  box-shadow: inset 0 2px 2px -2px #ffffff, 0 0 0 5px #d6d274;
  border: 1px solid #d00e0e;
  border-radius: 12px;
  width: 178px;
  height: 34px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
main .main_header .main_header_text button:hover {
  font-size: 22px;
}
main .main_section_h2 {
  width: 100%;
}
main .main_section_h2 > div,
main .main_section_h2 h2 {
  display: inline-block;
  vertical-align: middle;
}
main .main_section_h2 > div {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fe6847;
  position: relative;
}
main .main_section_h2 > div:after {
  content: '>';
  display: block;
  color: #ebe8b0;
  font-size: 14px;
  font-family: Arial;
  position: absolute;
  left: calc(50% - 3.5px);
  top: calc(50% - 7px);
  -webkit-transform: scale(0.7, 2);
      -ms-transform: scale(0.7, 2);
          transform: scale(0.7, 2);
}
main .main_section_h2 h2 {
  font-size: 20px;
  font-family: Rockwell, Arial, Serif;
  margin-left: 10px;
}
main .main_section {
  position: relative;
  width: 100%;
  margin: 27px 0 12px 0;
}
main .main_section:after {
  content: '';
  display: block;
  clear: both;
}
main .main_section aside {
  float: left;
  width: 230px;
}
main .main_section aside .categories {
  width: 240px;
  height: 446px;
  margin-left: -5px;
}
main .main_section aside .categories .categories_header {
  background: url(../img/categories_bg.png) 0 0 no-repeat;
  width: 258px;
  height: 36px;
  margin: 15px 0 0 -28px;
  padding-left: 88px;
  font-family: Rockwell, Arial, Serif;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
main .main_section aside .categories ul {
  margin: 16px 0 0 58px;
  font-family: Arial, Serif;
  font-size: 13px;
  color: #707070;
}
main .main_section aside .categories ul li {
  margin-bottom: 11px;
}
main .main_section aside .categories ul li a {
  text-decoration: none;
  color: #707070;
}
main .main_section aside .categories ul li a:hover {
  color: #ab2001;
}
main .main_section aside .categories ul li a span {
  padding-right: 12px;
}
main .main_section aside .categories ul li a.categories_active {
  color: #fe6847;
}
main .main_section aside .reviews {
  width: 100%;
  margin-top: 23px;
}
main .main_section aside .reviews .main_section_h2 {
  margin-bottom: 9px;
}
main .main_section aside .reviews .product_review {
  width: 100%;
  height: 90px;
  padding: 12px 0 9px;
}
main .main_section aside .reviews .product_review .review_cart,
main .main_section aside .reviews .product_review .review_text {
  display: inline-block;
  vertical-align: middle;
}
main .main_section aside .reviews .product_review .review_cart {
  width: 69px;
  height: 69px;
  margin-left: -5px;
}
main .main_section aside .reviews .product_review .review_text {
  width: calc(100% - 64px);
  margin-left: -5px;
  padding: 8px 0 0 14px;
  font-size: 12px;
  line-height: 1.3;
}
main .main_section aside .reviews .product_review .review_text p:nth-child(2) {
  font-style: italic;
  color: #a5a5a5;
}
main .main_section aside .reviews .product_review:nth-child(3) {
  height: 92px;
  border-top: 1px solid #c2be67;
  border-bottom: 1px solid #c2be67;
}
main .main_section aside .reviews .product_review:nth-child(3) p:first-child {
  color: #fe6847;
}
main .main_section aside .reviews button {
  width: 109px;
  height: 22px;
  margin-top: 1px;
  border-radius: 14px;
  border: 1px solid #cbc892;
  background-image: -webkit-linear-gradient(bottom, #f2f0cb, #ffffff);
  background-image: linear-gradient(to top, #f2f0cb, #ffffff);
  box-shadow: 0 3px 3px #e2dfb4;
  color: #fe6847;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
main .main_section aside .reviews button:hover {
  font-size: 11px;
  color: #ab2001;
}
main .main_section aside .payment {
  width: 100%;
  margin-top: 31px;
}
main .main_section aside .payment .payment_methods {
  margin: 25px 0  22px 5px;
  width: 184px;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}
main .main_section aside .payment .payment_methods .pay_method {
  width: 41px;
  height: 26px;
  background-image: url(../img/payments.png);
  background-repeat: no-repeat;
}
main .main_section aside .payment .payment_methods .pay_method:nth-child(1) {
  background-position: -6px -210px;
}
main .main_section aside .payment .payment_methods .pay_method:nth-child(2) {
  background-position: -6px -60px;
}
main .main_section aside .payment .payment_methods .pay_method:nth-child(3) {
  background-position: -6px -30px;
}
main .main_section aside .payment .payment_methods .pay_method:nth-child(4) {
  background-position: -6px 0px;
}
main .main_section aside .payment .payment_methods .pay_method:nth-child(5) {
  background-position: -6px -150px;
}
main .main_section aside .payment .payment_methods .pay_method:nth-child(6) {
  background-position: -6px -90px;
}
main .main_section aside .payment .payment_methods .pay_method:nth-child(7) {
  background-position: -6px -120px;
}
main .main_section aside .payment .payment_methods .pay_method:nth-child(8) {
  background-position: -6px -180px;
}
main .main_section .section_wrapper {
  float: right;
  width: 712px;
}
main .main_section .section_wrapper .main_section_h2 {
  margin-left: 5px;
}
main .main_section .section_wrapper .featured {
  width: 722px;
  height: 285px;
  margin-top: 2px;
}
main .main_section .section_wrapper .featured .featured_products {
  width: 100%;
  height: 250px;
  margin: 13px 0 0 -5px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main_section .section_wrapper .featured .featured_products .product_card {
  width: 219px;
  height: 219px;
  margin: 16px 0 15px;
}
main .main_section .section_wrapper .featured .featured_products .product_card:nth-child(1) {
  padding-left: 12px;
}
main .main_section .section_wrapper .featured .featured_products .product_card:nth-child(2) {
  width: 242px;
  border-left: 1px #ebe8b0 solid;
  border-right: 1px #ebe8b0 solid;
  padding: 0 16px 0 17px;
}
main .main_section .section_wrapper .featured .featured_products .product_card:nth-child(3) {
  padding-right: 12px;
}
main .main_section .section_wrapper .featured .featured_products .product_card_img {
  width: 207px;
  height: 102px;
  border-radius: 3px;
  margin-bottom: 18px;
}
main .main_section .section_wrapper .popular {
  width: 722px;
  height: 565px;
  margin-top: 10px;
}
main .main_section .section_wrapper .popular .popular_products {
  width: 100%;
  height: 495px;
  margin: 22px 0 0 -5px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}
main .main_section .section_wrapper .popular .popular_products .product_card {
  width: 170px;
  height: 240px;
}
main .main_section .section_wrapper .popular .popular_products .product_card_img {
  width: 158px;
  height: 117px;
  text-align: center;
  padding-top: 1px;
  margin-bottom: 13px;
}
main .main_section .section_wrapper .popular .popular_products .product_card_text {
  font-size: 13px;
  line-height: 1.2;
  color: black;
  margin: 0 0 14px 9px;
}
main .main_section .section_wrapper .popular .popular_products .product_card_price {
  font-size: 12px;
  margin: 0 0 11px 9px;
}
main .main_section .section_wrapper .popular .popular_products .product_card_buy {
  width: 130px;
  margin: 0 0 0 9px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main_section .section_wrapper .popular .popular_products .product_card_buy button {
  width: 58px;
  height: 18px;
  border-radius: 14px;
  border: 1px solid #cbc892;
  background-image: -webkit-linear-gradient(bottom, #f2f0cb, #ffffff);
  background-image: linear-gradient(to top, #f2f0cb, #ffffff);
  box-shadow: 0 3px 3px #e2dfb4;
  color: #fe6847;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
main .main_section .section_wrapper .popular .popular_products .product_card_buy button:hover {
  font-size: 11px;
  color: #ab2001;
}
main .main_section .section_wrapper .popular .popular_products .product_card_buy .likes {
  width: 40px;
  font-size: 11px;
  color: #797976;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main_section .section_wrapper .popular .popular_products .product_card_buy .likes .like {
  width: 8px;
  height: 13px;
  background: #cbcbcb;
  border-radius: 4px 4px 0 0;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
}
main .main_section .section_wrapper .popular .popular_products .product_card_buy .likes .like:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #cbcbcb;
  border-radius: 4px 4px 0 0;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 0px;
  bottom: 8px;
}
main .main_section .section_wrapper .popular .popular_products .product_card:nth-child(2) .like {
  width: 8px;
  height: 13px;
  background: #a5c512;
  border-radius: 4px 4px 0 0;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
}
main .main_section .section_wrapper .popular .popular_products .product_card:nth-child(2) .like:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #a5c512;
  border-radius: 4px 4px 0 0;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 0px;
  bottom: 8px;
}
main .main_section .section_wrapper .popular .popular_products .product_card:nth-child(6) .like {
  width: 8px;
  height: 13px;
  background: #a5c512;
  border-radius: 4px 4px 0 0;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
}
main .main_section .section_wrapper .popular .popular_products .product_card:nth-child(6) .like:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #a5c512;
  border-radius: 4px 4px 0 0;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 0px;
  bottom: 8px;
}
main .main_section .section_wrapper .pagination {
  width: 100%;
  border-top: 1px solid #c2be67;
  padding-top: 20px;
  margin-bottom: 48px;
  position: relative;
}
main .main_section .section_wrapper .pagination > div {
  width: 195px;
  height: 20px;
  position: relative;
  left: calc(50% - 97px);
  bottom: 0;
}
main .main_section .section_wrapper .pagination > div:after {
  content: '';
  display: block;
  clear: both;
}
main .main_section .section_wrapper .pagination a {
  text-decoration: none;
  color: #fe6847;
  font-size: 12px;
  display: block;
  float: left;
  height: 100%;
  width: 20px;
  text-align: center;
  line-height: 20px;
}
main .main_section .section_wrapper .pagination a:hover {
  color: #ab2001;
}
main .main_section .section_wrapper .pagination a:nth-child(6) {
  width: 43px;
}
main .main_section .section_wrapper .pagination a:nth-child(7) {
  width: 50px;
}
main .main_section .section_wrapper .pagination .active_page {
  background: #c2be67;
  color: white;
}
main .main_section .section_wrapper .pagination .active_page:hover {
  cursor: default;
  color: white;
}
/***********************************Footer******************/
footer {
  margin-top: -12px;
  background-color: #6882a3;
  background: url(../img/footer_bg_top.png) 0 0 repeat-x;
  color: #cfcfcf;
  overflow: hidden;
}
footer h2 {
  color: white;
  margin: 25px 0 30px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}
footer li {
  margin-bottom: 13px;
}
footer a {
  text-decoration: none;
  color: #cfcfcf;
}
footer a:hover {
  color: #ab2001;
}
footer .footer_background {
  background: url(../img/footer_bg.png);
  margin-top: 12px;
}
footer .company,
footer .categories {
  margin-right: 6.25%;
}
footer .information {
  margin-right: 5.52%;
}
footer .footer_social_media h2 {
  margin-bottom: 20px;
}
footer .subscribe {
  margin-right: 4.16%;
  width: 250px;
}
footer .subscribe h2 {
  margin-bottom: 13px;
}
footer .subscribe form {
  height: 24px;
  width: 240px;
  margin-top: 13px;
}
footer .subscribe form input,
footer .subscribe form button {
  height: 100%;
  border: 1px #395070 solid;
  float: left;
}
footer .subscribe form input {
  width: 183px;
  color: #979797;
}
footer .subscribe form input:focus {
  color: #ab2001;
}
footer .subscribe form button {
  background: -webkit-linear-gradient(90deg, #fe6847, #ffc6b9);
  background: linear-gradient(0deg, #fe6847, #ffc6b9);
  box-shadow: inset 0 2px 2px -2px #ffffff;
  width: 57px;
  color: #ab2001;
  border-left: none;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
footer .subscribe form button:hover {
  color: #5a1c03;
  font-size: 13px;
}
footer .garanties {
  float: right;
  width: 186px;
  margin-top: 8px;
}
footer .garanties .garanties_safety,
footer .garanties .garanties_ship {
  width: 100%;
  margin-bottom: 25px;
}
footer .garanties .garanties_safety {
  height: 53px;
}
footer .garanties .garanties_ship {
  height: 36px;
}
footer .garanties .garanties_img,
footer .garanties .garanties_text {
  display: inline-block;
  vertical-align: middle;
}
footer .garanties .garanties_img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
footer .garanties .garanties_text {
  width: 118px;
  margin-left: 10px;
}
footer .copyright {
  clear: both;
  padding: 40px 0 35px 0;
}
footer .copyright a {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */