@font-face {
  font-family: 'St Marie';
  src: url('fonts/StMarie-Thin.eot');
  src: url('fonts/StMarie-Thin.woff2') format('woff2'),
       url('fonts/StMarie-Thin.woff') format('woff'),
       url('fonts/StMarie-Thin.ttf') format('truetype'),
       url('fonts/StMarie-Thin.svg#StMarie-Thin') format('svg'),
       url('fonts/StMarie-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('fonts/Bebas.eot');
  src: url('fonts/Bebas.woff2') format('woff2'),
       url('fonts/Bebas.woff') format('woff'),
       url('fonts/Bebas.ttf') format('truetype'),
       url('fonts/Bebas.svg#Bebas') format('svg'),
       url('fonts/Bebas.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('fonts/Calibri.eot');
  src: url('fonts/Calibri.woff2') format('woff2'),
       url('fonts/Calibri.woff') format('woff'),
       url('fonts/Calibri.ttf') format('truetype'),
       url('fonts/Calibri.svg#Calibri') format('svg'),
       url('fonts/Calibri.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
