@import url('common.css');

/************HEADER*******************************/
header{
	width:100%;
	height:132px;
	position:fixed;
	left:0;
	top:0;
	z-index:99;
	background:#fff;
	border-bottom:1px #fcba50 solid;
}

	/***NAVIGATION***/
.header-nav{
	float:right;
	margin:18px 5px 0 0;
	position:relative;
}
	.nav-link{
		display:block;
		float:left;
		background-repeat:no-repeat;
		min-width:55px;
		min-height:50px;
		font-size:2.2rem;
		color:#9e9b9b;
		text-align:center;
	}
	.nav-link:last-child{
		margin-right:0;
	}
	.nav-link:hover{
		color: #000;
		text-decoration:underline;
	}
	.home_icon {
		margin:0 70px 0 0;
		padding:59px 0 0;
		background-image: url('../img/icon-sprite.png');
		background-position:-30px -420px;
		}
	.about_icon {
		margin:0 66px 0 0;
		padding:59px 0 0;
		background-image: url('../img/icon-sprite.png');
		background-position:-30px -30px;
	}
	.work_icon {
	  margin:0 68px 0 0;
		padding:57px 0 0;
		background-image: url('../img/icon-sprite.png');
		background-position:-38px -550px;
	}
	.blog_icon {
		margin:0 72px 0 0;
		padding:57px 10px 0 0px;
		background-image: url('../img/icon-sprite.png');
		background-position:-35px -155px;
	}
	.contact_icon {
		
		padding:57px 0 0;
		background-image: url('../img/icon-sprite.png');
		background-position:  -25px -285px;
	}
	
	/***LOGO-BLOCK***/
.logo-block{
	float:left;
	position:relative;
	margin:5px 0 0 18px;
}
	.logo-block img{
		display:block;
		float:left;
		margin:0 52px 0 0;
	}
	.logo-text{
		width:115px;
		font-size:3.7rem;
		float:right;
		margin:10px 0 0;
	}
	.logo-text  p:first-child{
		font-family:Calibri, Arial, sans-serif;
		color:#fb9c06;
		margin:0 0 10px;
	}	
	.logo-text  p:last-child{
		font-family:Bebas, Arial, sans-serif;
		color:#6e6d6b;
		text-transform:uppercase;
	}


/************MAIN*******************************/

	/***SLIDER***/
.slider{
	width:100%;
	height:409px;
	border-top:3px #fcba50 solid;
	border-bottom:4px #fcba50 solid;
	background:url('../img/big-orange-bg.png') center center no-repeat;
}
	.slider-item{
		font-family:Bebas, Arial, sans-serif;
		font-size:3.7rem;
		text-transform:uppercase;
		position:absolute;
		text-align:center;
		
	}
	.slider-item:nth-child(1){
		left:20px;
		top:125px;
		width:382px;
		height:67px;
		background:#4f4f4f;
		border-top:1px solid #dcdcdc;
		border-left:1px solid #979797;
		border-right:1px solid #cbcbcb;
		border-bottom:1px solid #727272;
		color:#fb9c06;
		line-height:67px;
	}
	.slider-item:nth-child(2){
		left:11px;
		top:216px;
		width:396px;
		height:77px;
		background:#ffc759;
		color:#6e6d6b;
		border-top:1px solid #ffd27a;
		border-bottom:1px solid #ffdd9c;
		line-height:77px;
	}
	
	
	/**TEXTAREA***/	
.textarea-block{
	border-top:1px #f6d094 solid;
}
	.textarea-item-wrapper{
		padding:0 0 30px 27px;
		position:relative;
	}
		.textarea-item{
			position:relative;
			float:left;
			width:260px;
			height:165px;
			overflow:hidden;
			margin:22px 40px 0 0; 
			font-size:1.5rem;
			color:#000;
			line-height:1.6;
		}
		.textarea-item:nth-child(4n){
			margin-right:0;
			
		}
		.textarea-item-read-more{
			text-align:right;
			line-height:1;
		}
		.textarea-item-read-more a{
			font-size:1.7rem;
			font-style:italic;
			color: #ffac00;
		}	
		.textarea-item-read-more a:hover{
			font-weight:bold;
			color: #cc830f;
		}
	

	/**TEAM***/	
.team{}
	.team h2{
		margin:14px 0 42px;
	}
	.team-block{
		position:relative;
	}
	.team-item{
		width:311px;
		float:left;
		margin-bottom:44px;
	}
		.team-item:nth-child(n){
			margin-right:153px;
		}
		.team-item:nth-child(2n){
			margin-right:112px;
		}
		.team-item:nth-child(3n){
			margin-right:0;
		}
		.team-item h3{
			margin:0 0 33px;
			font-family:Calibri, Arial, sans-serif;
			font-size:2.2rem;
			color:#6e6d6b;
			text-align:center;
		}	
		.team-item h3 span{
			color:#fb9c06;
		}	
		.team-item img{
			display:block;
			width:311px;
			height:311px;
			border-radius:50%;
			border:9px solid #ffb540;
		}
		.team-item figcaption{
			height:90px;
			overflow:hidden;
			margin:20px 10px 0 35px;
			font-family:Calibri, Arial, sans-serif;
			font-size:1.5rem;
			color:#333333;
			line-height:1.5;
		}
		
	/**FORM***/	
.form-block{
	//margin:0 0 13px;
	margin: 0 0 87px;
}
	.message-form{
		margin:70px 0 0;
		width:100%;
	}	
		.message-form div{
			margin-bottom:37px;
			position:relative;
		}
		
		.message-form label{
			display:inline-block;
			vertical-align:middle;
			width:134px;
			font-family:'St Marie', 'Times New Roman', serif;
			font-size:2.4rem;
			color:#fb9c06;
		}	
		.message-form input, .message-form textarea{
			display:inline-block;
			vertical-align:middle;
			width:1066px;
			font-size:2.4rem;
			outline:none;
			border:none;
			border-left:5px solid #d2d0cf;
			border-top:2px solid #d2d0cf;
			background:#f8f7f6;
		}
		.message-form input:focus, .message-form textarea:focus{
			border-left:5px solid #fb9c06;
		}		
		.message-form input{
			height:33px;
		}
		.message-form textarea{
			vertical-align:top;
			height:90px;
		}
		.message-form button[type='submit']{
			float:right;
			width:176px;
			height:49px;
			margin:-15px 33px 0 0;
			background-image:linear-gradient(to top,#d3942f 1px, #cc830f 1px, #cc830f 3px, #f6bb5c 3px, #f6bb5c 4px, #fb9c06 4px);
			outline:none;
			border-bottom:none;
			border-top:1px solid #fdd18b;
			border-left:1px solid #fcb94f;
			border-right:1px solid #fcb94f;
			color:#fff;
			font-family:'St Marie', 'Times New Roman', serif;
			font-size:3rem;
		}
		.message-form button[type='submit']:hover{
			font-size:3.5rem;
			color:#372102;
			cursor:pointer;
		}
/***FOOTER*****/	
footer{
	width:100%;
	height:74px;
	position:absolute;
	left:0;
	bottom:0;
	background-image:linear-gradient(to top, #cc830f 3px, #e8920a 3px, #e8920a 4px, #fb9c06);
	font-family:'St Marie', 'Times New Roman', serif;
	font-size:3.3rem;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	line-height:73px;
}
	
